<div class="ui-g-12 tabPanel">
    <p-tabView>
        <p-tabPanel header="Spaces">
            <div class="main-category" *ngFor="let info of data?.category; index as i ">

                <span (click)="closetab=i"><i class="fa fa-plus" aria-hidden="true"></i></span>
                <input type="text" pInputText placeholder="Personal Room" [(ngModel)]="info.name"  />
                <input type="number" pInputText [(ngModel)]="info.waightage" (keyup)="updateWeightage()"/>
                <input type="number" pInputText [(ngModel)]="info.calculate" />
                <i class="fa fa-trash-o" aria-hidden="true"></i>                
                <div [class.active]="i==closetab" class="close">
                    <div class="subTab" *ngFor="let subitem of info?.sub_space_list; index as j  ">
                        <input type="text" pInputText placeholder="Gym" [(ngModel)]="subitem.sub_name"/>
                        <input type="number" pInputText [(ngModel)]="subitem.waightage" (keyup)="calculateSubDerivative(info.sub_space_list,i)" />
                        <input type="number" pInputText [(ngModel)]="subitem.calculate" />
                        <i class="fa fa-minus" aria-hidden="true" (click)="removeSubCategory(i,j)"></i>
                    </div>
                    <button pButton type="button" label="Add Sub Catgegory" (click)="addSubCategoryRow(i)" class="main_space_bttn"></button>
                </div>

            </div>
            <button pButton type="button" label="Add Main Space" (click)="addCategoryRow()" class="main_space_bttn"></button>

        </p-tabPanel>
        <p-tabPanel header="Works">
            Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream.
            In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black
            Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
        </p-tabPanel>
        <p-tabPanel header="Subscription">
            After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced
            from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        </p-tabPanel>
    </p-tabView>
</div>