<div class="main-login-container">
    <div class="ui-g ui-fluid login-container">
        <div class="ui-g-12 img">
            <img src="assets/images/login.png" />
        </div>
        <div class="ui-g-12">
            <label>Email</label>
            <input type="text" pInputText />
        </div>
        <div class="ui-g-12">
            <label> Password</label>
            <input type="password" pInputText />
        </div>
        <div class="ui-g-12 submitbttn">
            <button pButton type="button" label="Submit" routerLink="dashboard"></button>
        </div>
    </div>
</div>